.form-control{
    background: transparent;
    color: black;
}

.panel-footer{
    background: transparent;
}

.control-label{
    color: black;
}

.btn-primary{
    background: red;
}

.btn-primary:hover{
    background: green;
}

.btn-default > a{
	text-decoration: none;
}

.btn-default:hover{
    background: blue;
    color: white;
}
/* lằng kẻ */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid blue;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: blue;
}
