
body{
    background-color: #80808024;
}

/* Thanh navigation  */
.navbar-default {
    background-color:white;
    border-color: #0000003b;
}

        /* Logo */
        .navbar-brand {
            padding: 0px 0px;
        } 

        /* Khung nhập tìm kiếm */
        .form-control {
            border-radius: 15px;
            padding: 20px, 20px;
            font-family: 'Big Shoulders Display', cursive;
            font-family: 'Old Standard TT', serif;
        }

        /* Nút tìm kiếm */
        .btn {
            border-radius: 20px;
            background-color: red;
            color: white;
            padding: 20px, 20px;
            font-family: 'Big Shoulders Display', cursive;
            font-family: 'Old Standard TT', serif;
            text-decoration: none;
        }

                /* //ghi đè: khi rê chuột đến nút tìm kiếm */
                .btn:hover {
                    background-color: lawngreen;
                    color: red;
                }

        /* Trang chủ */
        .navbar-default .navbar-nav > .active > a{
            color: red;
            background-color: #07f107f0;
            font-family: 'Big Shoulders Display', cursive;
            font-family: 'Old Standard TT', serif;
            font-size: 17px;

            margin-top: 3px;
            margin-bottom: 10px;
            /* height: 40px; */
            border-radius: 20px;
        }

                /* //ghi đè: khi rê chuột đến trang chủ của menu */
                .navbar-default .navbar-nav > .active > a:hover,
                .navbar-default .navbar-nav > .active > a:focus {
                    color: darkblue;
                    background-color: darkorange;
                }

        /* các chức năng khác của menu */
        .navbar-default .navbar-nav > li > a {
            color: black;
            font-family: 'Big Shoulders Display', cursive;
            font-family: 'Old Standard TT', serif;
            font-size: 17px;

            margin-top: 5px;
            margin-bottom: 10px;
            /* height: 40px; */
            
        }

                /* //ghi đè: khi rê chuột đến các chức năng KHÔNG là trang chủ của menu */
                .dropdown-menu > li > a,
                .navbar-default .navbar-nav > li > a:hover,
                .navbar-default .navbar-nav > li > a:focus,
                .navbar-default .navbar-nav .dropdown-menu > li > a:hover,
                .navbar-default .navbar-nav .dropdown-menu > li > a:focus { 
                    color: blue;
                    background-color: magenta;
                    border-radius: 20px;
                }



                /* tự dropdown*/
                .dropdown:hover .dropdown-menu{
                    display: inline-block;
                }

                /* dropdown: thuộc tính con của ĂN UỐNG */
                .dropdown-menu > li > a {
                    color: black;
                    background-color: white;
                } 

                /* Dropdown của đăng nhập của TÀI KHOẢN+ĐĂNGKÝ_VIỆT+ANH*/
                .dropdown-menu .login > span > a,
                .dropdown-menu .res > span > a,
                .dropdown-menu .ad > span > a{
                    text-decoration: none;

                    /* height: 30px; */

                    display: block;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    padding-top: 5px;
                    border-radius: 15px;
                    text-align: center;
 
                    
                } 

                /* ĐĂNG NHẬP _ VIỆT */
                .dropdown-menu .login > span > a{
                    color: orange;
                    background-color: blue;
                }

                /* ĐĂNG KÝ _ ANH*/
                .dropdown-menu .res > span > a {
                    
                    color: white;
                    background-color: red;
                }
                
                .dropdown-menu .ad > span > a {
                	color: white;
                    background-color: black;
                }

/* Quãng cáo */
#myCarousel{
    width: 600px;
    margin-left:auto; 
    margin-right:auto; 
    display:block; 
}

/*body1*/
.table{ /*khung màu trắng to bên ngoài*/
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background:white;
}

        /* khung chứa hình và chữ */
        .list {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left:30px; 
            margin-right:30px;
        } 

        .component{
            border-color: blue;
            border-style: solid;
        }

        .img-body{
            width: 100%;
            display: block;
            margin: auto;
        }

        /* tên hình */
        .component .tieude  {
            position: absolute;
            background-color: #00000045;
            height: 90px;
            width: 100%;
            
            bottom: 83px;
            left: 0px;

            /* tên nhà hàng */
            font-size: 17px;
            text-align: center;
            color: white;
            text-decoration: none;

            padding-top: 10px;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
        }
            /* địa chỉ nhà hàng */
            .addr {
                font-size: 13px;
                text-align: center;
                color: white;
                text-decoration: none;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-top: 5px;
            }
        /* Ngôi sao */
        .component .tieude > span{
            padding-top: 5px;
            color: yellow;
        }

        .component .tieude > div{
            padding-top: 5px;
            color: white;
        }

        /* Đặt giữ chỗ */
        .component > p {
            color: red;
            font-size: 20px;
            text-align: center;
        }

        /* Đặt ngay */
        .component > button  {
            display: block;
            margin: auto;
            text-align: center;
            background-color: white;
            color: black;
            border-radius: 20px;
            font-size: 15px;
            margin-bottom: 10px;
            
        }

                .component > button:hover {
                    color: white;
                    background-color: red;

                }

.HD .container{
    margin-top: 10px;
    margin-bottom: 10px;
    background:white;
    width: 100%;
    height: 300 px;
}


.HD .container > img{
    padding-top: 30px;
    padding-bottom: 30px;
    
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    height: 300px;
} 

