#box{
    background-color: white;
    height: 400px;
}

h2{
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Old Standard TT', serif;
}

.tail > a {
    display: block;
    margin: auto;
    text-align: center;
    color: red;
    text-decoration: none;

    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Old Standard TT', serif;
}