
/* BODY */
/* khung chứa màu trắng */
.info{
    border-color: blue;
    border-style: solid;
    background: white;
    height: 750px;
    width: 900px;
    display: block;
    margin: auto;
}

/* màu trắng nằm dưới */
#myCarousel{
    width: 894px;
} 
/* hình nằm ở trên */
.slider-img{
    width: 894px;
}


/* menu -> slider dưới*/
#slider{
    width: 900px;
    height: 1000px;
    display: block;
    margin: auto;
}
.slider-inner{
    width: 900px;
    height: 1000px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Tên nhà hàng */
.container .info .name{
    font: bolder;
    font-size: 20px;
    text-align: center;
    color: red;

    padding-top: 10px;
}

    .container .info .name .glyphicon{
        text-align: center;
        background: red;
        border-radius: 4px;
        color: white;

        padding-left: 4px;
        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;

        margin-right: 5px;
    }

/* địa chỉ nhà hàng */
.container .info .addr{
    font-size: 15px;
    text-align: center;
    color: #00000063;;
}

    .container .info .addr .glyphicon {
        margin-right: 5px;
    }

/* thời gian  */
.container .info .time{
    font-size: 15px;
    text-align: center;
    color: black;;

    padding-top:5px;
}

/* giá cả */
.container .info .price{
    font-size: 15px;
    text-align: center;
    color: black;
}

/* giá cả trung bình */
.container .info .price .priceTB{
    font-size: 15px;
    text-align: center;
    color: red;
}


/* ĐẶT */

#box{
    background-color: white;
    height: 500px;
    margin-top: 20px;
}

legend{
    padding-top: 10px;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Old Standard TT', serif;
}

.xacNhan{
    background: red;
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Old Standard TT', serif;
}

.bd{
	color: blue;
	size: 4px bolder;
}

.row{
    margin-left: 5px;
    margin-right: 5px;
}

.truoc30phut{
    font-size: 15px;
}

.giuCho{
    color: red;
}

.btnXacNhan{
    background: chartreuse ;
    color: white;
    height: 40px;
}

.btnHuy{
    background: red;
    color: white;
    height: 40px;
}

.btnXacNhan:hover, 
.btnXacNhan:focus,
.btnHuy:hover,
.btnHuy:focus{
    background: blue;
}