
#box{
    background-color: white;
    height: 530px;
}

legend{
    padding-top: 10px;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Old Standard TT', serif;
}